<section>
    <div class="jumbotron">
        <h1 data-bind="html: displayName"></h1>
        <section>
            <div class="row" data-bind="foreach: videoGame">
                <div class="col-sm-6 col-md-3">
                    <a data-bind="attr: { href: 'app/viewmodels/'+id }" class="thumbnail" data-bind="click:$parent.select">
                        <img data-bind="attr: { src: image }" />
                        <p data-bind="text: title"></p>
                    </a>
                </div>
            </div>
        </section>
    </div>

    <h3>Features</h3>
    <ul data-bind="foreach: features">
        <li data-bind="html: $data"></li>
    </ul>
</section>